 
 
<div class="contenedor">

    <mat-card>
  
  <p><strong> ¿Cuantos años tienes?</strong> </p>
        <mat-form-field class="example-form-field">
           

            <input matInput [(ngModel)]="edad" type="number"  placeholder="" required>
          
           
          </mat-form-field>
          <br>
          <p><strong> ¿Cual es tu genero?</strong> </p>
        
          
           
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="sexo">
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  {{sexo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
          <br>
    
          <p><strong> ¿Cual es el ingreso de tu familia?</strong> </p>
          <mat-form-field class="example-form-field">
           

              <input matInput [(ngModel)]="ingreso" type="number"  placeholder="" required>
       
           
          </mat-form-field>
          <br>
      
          <p><strong> ¿A que te dedicas?</strong> </p>
          <mat-form-field class="example-form-field">
           
           

         
              <input matInput [(ngModel)]="trabajo" type="text"  placeholder="" required>
          
         
          </mat-form-field>
          <br>
  
          <p><strong> ¿Cual es tu nivel escolar o universitario?</strong> </p>
          <mat-form-field class="example-form-field">
          

        
              <input matInput [(ngModel)]="nivelEscolar" type="text"  placeholder="" required>
         
         
          </mat-form-field>
          <br>
          <p><strong> ¿Cual o cuales son tus productos preferidos?</strong> </p>
        <mat-form-field class="example-form-field">
         
        
              <input matInput [(ngModel)]="productosPreferidos" type="text"  placeholder="" required>
        
         
          </mat-form-field>
          <br>
  
          <p><strong> ¿Esperas que tu producto favorezca tu vida en mas de una forma?</strong> </p>
          
         
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="esperanza">
                <mat-option *ngFor="let respuesta of respuestas" [value]="respuesta.value">
                  {{respuesta.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            
        
  
   
  
     
  
     
  
     
    
      <button mat-raised-button color="primary" (click)=" guardarEncuesta()" >Register</button>
  
    
    
  
    </mat-card>
      
    </div> 