<div class="container">
  <br>

  <mat-card>

    <p style="text-align: center;"><strong> Paypal </strong></p>

 <app-paypal></app-paypal>

</mat-card>

</div>

<div class="container "  *ngIf="products$  | async as products; else loading" >
  
  <br>
  <br>

  

 
  &nbsp;
  &nbsp;
 
 <mat-card>

  <p style="text-align: center;"><strong> Stripe </strong></p>
  <form novalidate [formGroup]="stripeTest"  (ngSubmit)="createToken()" >

   
    <input type="text" formControlName="name" placeholder="Full Name" />
    &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;  &nbsp;   &nbsp;
    &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;
 
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
    ></ngx-stripe-card>
    <button type="submit" mat-raised-button  color="primary">
      Pagar
    </button>
  </form>

</mat-card>

</div>





<ng-template #loading>
  <div class="container-spinner">
  
    <mat-progress-bar ></mat-progress-bar>

  </div>
      
  
  </ng-template>

