

<mat-toolbar color="primary" class="yellow">
    <span color="primary" (click)="opened = !opened">
  
      <mat-icon>menu</mat-icon>
     </span> 
    &nbsp;
    &nbsp;
      <a routerLink= "/" >{{appName}}</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a routerLink= "/" routerLinkActive= "active">
      
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  
      </a>
      
      <span class="fill-remaining-space"></span>
  
      <span  class="material-icons">
        add_alert
        </span>
  
      
      <button  mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
        account_circle
        </span></button>
  <mat-menu #menu="matMenu">
    <button class="verde"  mat-menu-item routerLink= "/login" routerLinkActive= "active">
      log in
    </button>
    <button  class="rojo" mat-menu-item (click)="onlogout()">Logout</button>
  </mat-menu>
  
      
  </mat-toolbar>
  
  
  <mat-sidenav-container>
    <mat-sidenav #sideNav [(opened)]="opened" mode="side">
        <mat-nav-list>
  
           <a mat-list-item routerLink="posts">
           <mat-icon>book</mat-icon>New product
          </a>
        </mat-nav-list>
        <mat-divider> </mat-divider>
  
            <mat-nav-list>
  
                <a mat-list-item routerLink="profile">
                <mat-icon>account_circle</mat-icon>Profile
               </a>
             </mat-nav-list>
    
    </mat-sidenav>
    
  
  </mat-sidenav-container>





<br><br>
<div class="container"><br><br>

 <mat-card class="post-card">
    

<mat-card-content>



<div align="center">

    <img style="width: 30%;" src="https://png.pngtree.com/element_our/png_detail/20181227/credit-card-glyph-black-icon-png_293807.jpg">
  
</div>

<mat-form-field class="example-full-width">
   
    <input matInput placeholder="nombre y apellido" value="">
  </mat-form-field>&nbsp;
    
  <mat-form-field class="example-full-width">
    <input matInput placeholder="tipo targeta: credito o debito">
  </mat-form-field>&nbsp;
    
  <mat-form-field class="example-full-width">

    <input matInput placeholder="fecha de vencimiento" value="">
  </mat-form-field>&nbsp;
    
  <mat-form-field appearance="fill">
    <mat-label>Tipo de documento</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>&nbsp;
    
    
  <mat-form-field class="example-full-width">

    <input matInput placeholder="numero de documento" value="">

  </mat-form-field>&nbsp;

  <button mat-raised-button color="primary" routerLink="/">siguiente</button>


</mat-card-content>

 </mat-card>



</div>
