<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<div style="text-align: center;">
<div class="ec-stars-wrapper " >
	<a routerLink="/home"    (click)=" valorarPedido(valoracion[0])" value="1" title="Votar con 1 estrellas">&#9733;</a>
	<a routerLink="/home"    (click)=" valorarPedido(valoracion[1])" value="2" title="Votar con 2 estrellas">&#9733;</a>
	<a routerLink="/home"    (click)=" valorarPedido(valoracion[2])" value="3" title="Votar con 3 estrellas">&#9733;</a>
	<a routerLink="/home"    (click)=" valorarPedido(valoracion[3])" value="4" title="Votar con 4 estrellas">&#9733;</a>
	<a routerLink="/home"    (click)=" valorarPedido(valoracion[4])" value="5" title="Votar con 5 estrellas">&#9733;</a>    
</div>

</div>

</div>
<noscript>Necesitas tener habilitado javascript para poder votar</noscript>