.navbar{

    position: sticky;
    top: 0;
    z-index: 1000;

    span{

        cursor: pointer;
      }
     }
  
     mat-icon{
  
      font-size: 50px;
      width: 50px;
  
  
     }
  
  
  
  
     span{
  
       font-size: 50px;
       width: 50px;
     }


mat-sidenav{
   
    width: 200px;
    cursor: pointer;
    background:darkslateblue;
    position: fixed;
    top: 55px;
    z-index: 1000;
  

}

.mat-list-base .mat-list-item,a
{

    color: #fff;
    text-decoration: none;
    cursor: pointer;

}

.yellow{

    background:darkslateblue;

    span{
  
        font-size: 60px;
        cursor: pointer;
       
        
        
      }

    

     
}