<div class="container" *ngIf="product$ | async as product">
    <mat-card class="post-card" >
        <img matCardImage style="width: 30%;" class="align-center" [src]="product.image" />
        <mat-card-content>
       
        <p >
    
        Nombre de la Tienda: {{ product.tienda_id }}
         </p>

         <p>


       Cantidad:    {{product.cantidad}}

         </p>

         <p>


       nombre:    {{product.tipo_producto}}

         </p>

         <p>


      valorTotal:      {{resultado}}

         </p>

         <p>

         <button mat-raised-button color="primary" (click)= "addCantidad()"  
                routerLink ="/medio_pago" >agregar
          </button>
            
         </p>

        </mat-card-content>
   
    </mat-card>
    </div>
