<mat-toolbar color="primary" class="yellow">
    <a routerLink= "/" >{{appName}}</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a routerLink= "/home" routerLinkActive= "active">
    
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

    </a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="form-group">

    <input type="text" class="form control" placeholder="search..." >
    </div>
    <span class="fill-remaining-space"></span>
   
    <button  mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
      account_circle
      </span></button>
<mat-menu #menu="matMenu">
  <button class="verde"  mat-menu-item routerLink= "/login" routerLinkActive= "active">
    log in
  </button>
  <button  class="rojo" mat-menu-item (click)="onlogout()">Logout</button>
</mat-menu>

    
</mat-toolbar>



