a{

    color: #fff;
    text-decoration: none;
   }

   .yellow{

    background:darkslateblue;
  
    span{

      cursor: pointer;
    }
   }

   mat-icon{

    font-size: 50px;
    width: 50px;


   }




   span{

     font-size: 50px;
     width: 50px;
   }

  input{
      width: 100vh;
  }


  .verde{

    background: forestgreen;
  }


  .rojo{

    background-color: red;
  }


  
  .navbar{

    position: sticky;
    top: 0;
    z-index: 1000;

    mat-icon{

        cursor: pointer;
    }
}

mat-sidenav{
   
    width: 200px;
    cursor: pointer;
    background: darkslateblue;
    position: fixed;
    top: 55px;
    z-index: 1000;
  

}

.mat-list-base .mat-list-item,a
{

    color: #fff;
    text-decoration: none;
    cursor: pointer;

}


  
