




 

<mat-toolbar color="primary" class="yellow">
  <span color="primary" (click)="opened = !opened">

    <mat-icon>menu</mat-icon>
   </span> 
  &nbsp;
  &nbsp;
    <a routerLink= "/" >{{appName}}</a>
    &nbsp;
  
    &nbsp;
    &nbsp;
    <a routerLink= "/" routerLinkActive= "active">
    
      <span class="material-icons" >
        store
        </span>
    </a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
   

  
    
    
  
    <span class="fill-remaining-space"></span>
    
<a routerLink="/carrito" *ngIf="client">
    <span class="material-icons">
      add_shopping_cart
      </span>
    
</a>

   &nbsp;
   &nbsp;
   &nbsp;
   &nbsp;
   &nbsp;
   &nbsp;
   &nbsp;
   &nbsp;



    
    <button  *ngIf="isLogged"  mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
      account_circle
      </span></button>
<mat-menu #menu="matMenu">
 
  <button  class="rojo" mat-menu-item (click)="onlogout()">Logout</button>
</mat-menu>

<span class="material-icons" [matMenuTriggerFor]="menu1">
  manage_accounts
  </span>

  
  <mat-menu #menu1="matMenu">
 
 
   <a routerLink="/login" > <button mat-menu-item>login</button>
   </a> 
 
  </mat-menu>


</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sideNav [(opened)]="opened" mode="side">
      <mat-nav-list>

         <a mat-list-item routerLink="">
        
        </a>
      </mat-nav-list>
      <mat-divider> </mat-divider>

 
      <mat-nav-list  *ngIf="client">
         
        <a mat-list-item routerLink="/mispedidos" >
         <span class="material-icons">
           shopping_cart
           </span><p> history</p>
       </a>
     </mat-nav-list>

     <mat-divider> </mat-divider>

    
 
     <mat-nav-list  *ngIf="admin">
         
      <a mat-list-item routerLink="/precios" >
        <span class="material-icons">
          signal_cellular_alt
          </span><p> Precio total de 
            Pedidos</p>
     </a>
   </mat-nav-list>
    

 
     
     <mat-divider> </mat-divider>

    
 
     <mat-nav-list  *ngIf="admin">
         
      <a mat-list-item routerLink="/anality-client" >
        <span class="material-icons">
          leaderboard
          </span><p> Anality Client</p>
     </a>
   </mat-nav-list>
    

   <mat-divider> </mat-divider>

    
 
   <mat-nav-list  *ngIf="admin">
       
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
   
      <a mat-list-item >
        <span class="material-icons">
          show_chart
    
    
          </span><p>Anality</p>
        </a>

    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="anality-full-pedidos">
     <button  mat-menu-item>
        <span class="material-icons">
          shopping_cart
          </span>
        <span>Pedidos</span>
      </button>
    </a>

    

    
      <a routerLink="anality-full-clients" routerLinkActive="active">
      
      <button mat-menu-item>
        <span class="material-icons">
          person
          </span>
        <span>Clientes</span>
      </button>
      </a>
    </mat-menu>
   </mat-nav-list>

   <mat-divider> </mat-divider>

   <mat-nav-list >
         
    <a mat-list-item routerLink="/loginChat" >
      <span class="material-icons">
        chat
        </span><p> chat</p>
   </a>
 </mat-nav-list>
  
 


<mat-nav-list *ngIf="admin">

 <a mat-list-item routerLink="/admin" >

  <span class="material-icons">
    perm_identity
    </span><p>Admin</p>

</a>
</mat-nav-list>
   
<mat-divider> </mat-divider>



<mat-divider> </mat-divider>

 
<mat-nav-list *ngIf="admin">
   
  <a mat-list-item routerLink="/pedidos" >
   <span class="material-icons" matBadge="15" matBadgeColor="warn">
     shopping_cart
     </span><p>Pedidos</p>
 </a>
</mat-nav-list>

<mat-divider> </mat-divider>




        

  
  </mat-sidenav>
  

</mat-sidenav-container> 




