p {
    font-family: Lato;
  }

  mat-card{


    
    text-align: center;
  }
  .global{

    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }