

.container{

    width: 80vh;
    height: 80vh;

  mat-card{

    height: 100%;
  }

 
  span{

    font-size: 400px;
  
  }

  mat-slider {
    width: 300px;
    position: fixed;
    height: 300px;
  }
}

