

.boton1{

    float: right;
    width: 30%;
}

.boton2{

    float: left;
    width: 30%;
}



.boton1{

    float: right;
    width: 30%;
}

.boton3{

  align-content: center;
    width: 40%;
}


mat-card{

    height: 40vh;
    display: flex;
  justify-content: center;
  align-items: center;


$rowHeight: 40px;
.flexp {



    column-count: 2;
max-height: calc(5 * #{$rowHeight});


span{

    cursor: pointer;
    width: 20%;
}
    }


    img{

        width: 70%;

    }




}


.ancho{

    height: 10%;
}


button{

    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
}

.tamaño{

    width: 20%;
}