

    <div *ngFor="let users of  userActive " style="text-align: center;">
    
      &nbsp;
      &nbsp;
    
    
    
    
    
    
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    
    
    
    
    <mat-card >
    
    
    
      <mat-card-content>
    
    
    
    <div class="flexp ">
    
      
        <span class="material-icons">
            person
            </span>
    <br>
    <br>
    
    
    
    <p>nombre:{{
    
        users.name
    
    }}
    
    
    </p>
    
    
    
    <p> apellido: {{
    
        users.apellido
    
    }}</p>
    
    
    <p>telefono: {{
    
        users.telefono
    
    }}</p>
    
    
    
   
    
        </div>
    
       
    
    
      
    
    </mat-card-content>
    
    </mat-card>
    
    
      
    
    </div>
    
    
    
