.rojo{

    height: 40% ;


    text-align: center;
    align-content: center;
}

.azul{

    
  
    height: 40%;

    text-align: center;
    align-content: center;
}

.conten1{

    width: 80%;

}

.conten2{

    width: 80%;

}

label{

    text-align: center;
    align-content: center;
}

.center{

    text-align: center;
    align-content: center;

}