
<div class="contenedor">

    <mat-card>
  
  <p><strong> ¿Cuantos años tienes?</strong> </p>
        <mat-form-field class="example-form-field">
           

            <input matInput [(ngModel)]="edad" type="number" readonly onmousedown="return false;"  >
          
           
          </mat-form-field>
          <br>
          <p><strong> ¿Cual es tu genero?</strong> </p>
        
          <mat-form-field class="example-form-field">
          <input matInput [(ngModel)]="sexo" type="text" readonly onmousedown="return false;" >
       
          </mat-form-field>
           
          
          <br>
    
          <p><strong> ¿Cual es el ingreso de tu familia?</strong> </p>
          <mat-form-field class="example-form-field">
           

              <input matInput [(ngModel)]="ingreso" type="number" readonly onmousedown="return false;">
       
           
          </mat-form-field>
          <br>
      
          <p><strong> ¿A que te dedicas?</strong> </p>
          <mat-form-field class="example-form-field">
           
           

         
              <input matInput [(ngModel)]="trabajo" type="text" readonly onmousedown="return false;" >
          
         
          </mat-form-field>
          <br>
  
          <p><strong> ¿Cual es tu nivel escolar o universitario?</strong> </p>
          <mat-form-field class="example-form-field">
          

        
              <input matInput [(ngModel)]="nivelEscolar" type="text" readonly onmousedown="return false;" >
         
         
          </mat-form-field>
          <br>
          <p><strong> ¿Cual o cuales son tus productos preferidos?</strong> </p>
        <mat-form-field class="example-form-field">
         
        
              <input matInput [(ngModel)]="productosPreferidos" readonly onmousedown="return false;"  type="text"  >
        
         
          </mat-form-field>
          <br>
  
          <p><strong> ¿Esperas que tu producto favorezca tu vida en mas de una forma?</strong> </p>
          <mat-form-field class="example-form-field">
         
            
              <input matInput [(ngModel)]="esperanza" type="text" readonly onmousedown="return false;" >
          </mat-form-field><br>
                
  
    </mat-card>
      
    </div> 
