<mat-form-field class="yellow">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>




<table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
    
      <td mat-cell *matCellDef="let element"><span class="material-icons">
        account_circle
        </span>&nbsp;&nbsp; {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> gmail </th>
      <td mat-cell *matCellDef="let element"> {{element.gmail}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

    <ng-container matColumnDef="actios">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-stroked-button color="accent" (click)="oneEditPost(element)">
        <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button color="warn"  (click)="oneDeletePost(element)">
        <mat-icon>delete</mat-icon>
        </button>

        <button mat-stroked-button (click)="sendEmail(element)">
          <span class="material-icons">
            send
            </span>
          </button>

          <button routerLink="/miencuesta" mat-stroked-button (click)="sendEncuesta(element)">
            <span class="material-icons">
              event_note
              </span>
              <span class="material-icons">
                create
                </span>
            </button>

            <button mat-stroked-button (click)="anality(element)">
              <span class="material-icons">
                leaderboard
                </span>
              </button>
      </td>
    </ng-container>

  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>




