



<div class="contenedor">

    <mat-card>
  
  
  
    
    
      <mat-form-field>
          <input matInput [(ngModel)]="gmail" type="email" placeholder=" gmail" required>
      </mat-form-field><br>
      
      <mat-form-field>
          <input matInput [(ngModel)]="password" minlength="8" type="password" placeholder=" password" required>
      </mat-form-field><br>
  
      <mat-form-field>
          <input matInput [(ngModel)]="direccion" type="text" placeholder=" direccion" required>
      </mat-form-field><br>
  
      <mat-form-field>
        <input matInput [(ngModel)]="cedula" minlength="10" maxlength="10" type="number" placeholder=" Cc:" required>
    </mat-form-field><br>
  
  
      <mat-form-field>
          <input matInput [(ngModel)]="pais" type="text" placeholder=" pais recidente" required>
      </mat-form-field><br>


    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix> &nbsp;</span>
      <input [(ngModel)]="telefono" type="tel" maxlength="10" minlength="10"
       matInput placeholder="555-555-1234" required>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field><br>
  
      <mat-form-field appearance="fill">
          <mat-label>rol</mat-label>
          <mat-select [(ngModel)]="rol">
            <mat-option  *ngFor="let rol of roles" [value]="rol.value">
              {{rol.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
     
    
      <button mat-raised-button color="primary" (click)="loginUp()">Register</button>
    
  
    </mat-card>
      
    </div>