:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field{

    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content{

    display: flex;
    justify-content: center;
   

}

button{

    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 