.ancho{
    height: 100%;
    text-align: center;

.container{

    margin-top: 25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;

    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;



.dimension{

    height: 40%;

}

    a{

        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

  

.post-card{

    background: black;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 82%;


    img{

        height: 200px;

    }

    p.content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


.btn-flotante {

    cursor: pointer;
  
  
    color: #ffffff; /* Color del texto */
   
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #E91E63; /* Color de fondo */

 
  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  
  }
  .btn-flotante:hover {
    background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        
    }
  }
}  
span{

    cursor: pointer;

    background-color: #fff;
}






p{

    text-align: center;
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    text-align: center;
  }

}
}