
       
 <br>
 
<mat-card class="ancho">

<div class="container" *ngIf="products$  | async as products; else loading" >
   


 

      
   

    <mat-card class="post-card"  *ngFor="let product of products ">




        
        <mat-card class="dimension">


    <mat-card-header>




    
            
            {{product.tipo_producto}}

 
        
               

           

       
             
       
          
        </mat-card-header >

        


        &nbsp;
        &nbsp;
        <img   matCardImage   [src]="product.image" />
        <mat-card-content>
         <p>
    
            {{ product.nombre }}
         </p>

          

         <p style="background: cornsilk;">
    
            {{ product.valor }}

            
         </p>


        
         <div *ngIf="admin">

            <button   (click)="addCarrito(product)"  class="btn-flotante" >añadir al carrito</button>
         
        </div>
        
         
    
    <div *ngFor="let producto of productos">
        
       
   <div *ngIf="product.tipo_producto == producto"> 
       
        <p>
            <span routerLink="/comentarios" (click)="productoComent(product)" class="material-icons">
                comment
            </span>

            
      </p>
        
         </div> 
    
    </div>


        

        
        
      
         &nbsp;
         &nbsp;

       
        



      
        </mat-card-content>&nbsp;
     
    </mat-card> 
        <mat-divider></mat-divider>

      

    </mat-card>


    </div>

</mat-card>
    <ng-template #loading>
    <div class="container-spinner">
    
        <mat-spinner></mat-spinner>
    </div>
        
    
    </ng-template>
