.ancho{
    height: 100%;


.container{

    margin-top: 25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;

    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;



.dimension{

    height: 40%;

}

    a{

        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

  

.post-card{

    background: black;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    height: 82%;


    img{

        height: 200px;

    }

    p.content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}



ion-icon{
    position:absolute;
    padding: 1px;
    right: 20px;
  

    cursor: pointer;
}



}

}

p{

    text-align: center;
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    text-align: center;
  }

