
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;



<mat-card >

 

    <mat-card-content>



<div class="flexp " *ngFor="let producto of pedido.productos">

    
     <img [src]=" producto.producto.image" />


<p>nombre: {{

 producto.producto.tipo_producto

}}</p>



<p> cantidad: {{

   producto.cantidad

}}</p>


<p>valor: {{

   producto.producto.valor
 
 }}</p>
<button  mat-fab color="primary"  (click)="addProducto(producto.producto)">
   <mat-icon>add</mat-icon>
   </button>&nbsp;

   <button mat-fab color="primary"  (click)="resProducto(producto.producto)">
      <mat-icon>clear</mat-icon>
      </button>

  

      </div>


 

</mat-card-content>

</mat-card>



<footer>

   <div>

       <a  (click)="pedir()" routerLinkActive="active" class="btn-flotante" >comprar</a>
    </div>


   <div class="flexp ">    
  <mat-card>

   cantidad: {{cantidad}}
  </mat-card> 

  <mat-card>

   total: ${{carritoTotal}}
  </mat-card>

   </div>
</footer>
 





