

<mat-card>

 

    <mat-card-content>

        <div class="flexp">


    
     <img [src]=" productoPedido.producto.image" />


<p>nombre: {{

 productoPedido.producto.tipo_producto

}}</p>



<p> cantidad: {{

   num

}}</p>


<p>valor: {{

   cantidad
 
 }}</p>

 <span class="material-icons" (click)="addCantidad()">
    control_point
    </span>

    <span class="material-icons" (click)="resCantidad()">
        do_disturb_on
        </span>


</div>

<div>

   <a routerLink="/pago" routerLinkActive="active" class="btn-flotante" (click)="sendValor()">comprar</a>
</div>

</mat-card-content>

</mat-card>




